@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-after::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px; /* Adjust the height of the fade effect */
  background: linear-gradient(to top, #f5f6fa, transparent);
  pointer-events: none; /* Ensure it doesn't block interactions */
}

.fade-dark-after::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px; /* Adjust the height of the fade effect */
  background: linear-gradient(to top, #ccc, transparent) !important;
  pointer-events: none; /* Ensure it doesn't block interactions */
}
:root {
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
}

.dark {
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
